.header-auth {
  align-items: center;
  position: relative;
}

.header-auth .button {
  all: unset;
  align-items: center;
  background-color: var(--color-background-neutral-tertiary);
  border: 1px solid;
  border-color: var(--color-border-neutral-secondary);
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--size-space-200);
  justify-content: center;
  overflow: hidden;
  padding: var(--size-space-200);
  position: relative;
}

.header-auth .div {
  all: unset;
  box-sizing: border-box;
  color: var(--color-text-default-default);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header-auth .button-wrapper {
  all: unset;
  align-items: center;
  background-color: var(--color-background-brand-default);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--size-space-200);
  justify-content: center;
  overflow: hidden;
  padding: var(--size-space-200);
  position: relative;
}

.header-auth .button-2 {
  all: unset;
  box-sizing: border-box;
  color: var(--color-text-brand-on-brand);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header-auth .avatar {
  background-image: url(../../static/img/shape-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: var(--size-radius-full);
  height: var(--size-icon-large);
  position: relative;
  width: var(--size-icon-large);
}

.header-auth .chevron-down {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.header-auth.logged-out {
  display: flex;
  gap: var(--size-space-300);
  width: 178px;
}

.header-auth.logged-in-hover {
  background-color: var(--color-background-default-default-hover);
  border-radius: var(--size-radius-200);
  display: inline-flex;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200) var(--size-space-300);
}

.header-auth.logged-in {
  border-radius: var(--size-radius-200);
  display: inline-flex;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200) var(--size-space-300);
}
